<template>
    <div
        class="console-wrapper elevation-2"
        :class="{'collapsed': isCollapsed}"
        v-if="!isClosed"
    >
        <div class="console-header">
            <span>Console</span>
            <span @click="collapse">
                <v-icon small>mdi-minus</v-icon>
            </span>
            <span @click="expand">
                <v-icon small>mdi-checkbox-blank-outline</v-icon>
            </span>
            <span @click="close">
                <v-icon small>mdi-close</v-icon>
            </span>

            <v-icon></v-icon>
        </div>
        <pre class="window">{{content}}</pre>
    </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';

export default {
    name: "index",
    data: function () {
        return {
            isCollapsed: false
        }
    },
    computed: {
        ...mapGetters({
            isClosed: 'console/isClosed',
            content: 'console/content'
        }),
    },
    methods: {
        ...mapMutations({
            close: 'console/close'
        }),

        expand: function () {
            this.isCollapsed = false;
        },

        collapse: function () {
            this.isCollapsed = true;
        }

    }
}
</script>

<style scoped lang="scss">
.console-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    display: grid;
    grid-template-rows: 30px auto;

    .console-header {
        height: 30px;
        background-color: #607d8b;
        width: calc(100vw - 40px);
        max-width: 600px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto 20px 20px 20px;
        padding: 0 7px 0 7px;
        align-items: center;

        * {
            color: #ffffff !important;
            background-color: transparent !important;
        }
    }

    &.collapsed {
        .window {
            display: none;
        }
    }

    .window {
        background-color: black;
        height: calc(30vh - 30px);
        width: calc(100vw - 40px);
        max-width: 600px;
        font-size: 11px;
        line-height: 12px;
        font-family: monospace;
        overflow-y: scroll;
        padding: 7px 7px 0 7px;
        white-space: pre-wrap;
    }
}
</style>
