<template>
    <v-row>
        <v-col>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>Filter</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-row>
                            <v-col cols="12" class="d-flex align-center justify-space-around">
                                <v-date-picker v-model="start"></v-date-picker>
                                <v-date-picker v-model="end"></v-date-picker>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="12">
                                <v-btn
                                    block
                                    color="primary"
                                    :disabled="(!start || !end) || (start > end) || reports.length === 0"
                                    @click="generateReport"
                                >Final Report</v-btn>
                            </v-col>
                        </v-row>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>

            <v-row v-if="reportIsVisible">
                <v-col cols="12">
                    <v-card>
                        <v-card-title>Final report::{{start}}-{{end}}</v-card-title>
                        <v-card-text>
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                    <tr>
                                        <th class="text-left">
                                            Parameter
                                        </th>
                                        <th class="text-left">
                                            Value
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>total</td>
                                        <td>{{ total }}</td>
                                    </tr>
                                    <tr>
                                        <td>successful</td>
                                        <td>{{ successful }}</td>
                                    </tr>
                                    <tr>
                                        <td>interrupted</td>
                                        <td>{{ interrupted }}</td>
                                    </tr>
                                    <tr>
                                        <td>ping delay is ok</td>
                                        <td>{{ pingDelayIsOk }}</td>
                                    </tr>
                                    <tr>
                                        <td>ping loss rate is ok</td>
                                        <td>{{ pingLossRateIsOk }}</td>
                                    </tr>
                                    <tr>
                                        <td>readyness</td>
                                        <td>{{ readyness }}</td>
                                    </tr>
                                    <tr>
                                        <td>speed is ok</td>
                                        <td>{{ speedIsOk }}</td>
                                    </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-card-text>
                        <v-card-actions class="d-flex justify-end">
                            <v-btn @click="closeReport">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <table>
                        <tr>
                            <th>date</th>
                            <th>interrupted</th>
                            <th>successful</th>
                            <th>ping delay</th>
                            <th>ping loss rate</th>
                            <th>readyness</th>
                            <th>speedtest</th>
                        </tr>
                        <report_item
                            v-for="(report, index) of reports"
                            :key="index"
                            :report="report"
                        ></report_item>
                    </table>

                </v-col>
            </v-row>
        </v-col>
    </v-row>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import report_item from "@/components/reports/report_item";

export default {
    name: "index",
    components: {
        report_item
    },
    data: function () {
        return {
            reportIsVisible: false,
            total: 0,
            successful: 0,
            interrupted: 0,
            pingDelayIsOk: 0,
            pingLossRateIsOk: 0,
            readyness: 0,
            speedIsOk: 0
        }
    },
    created: async function () {

        await this.fetchReports({});

    },
    computed: {
        ...mapGetters({
            reports: 'reports/filteredItems',
            storeStart: 'reports/start',
            storeEnd: 'reports/end'
        }),

        start: {
            get: function () {
                if (this.storeStart) {
                    return this.$moment.unix(this.storeStart/1000).format("YYYY-MM-DD");
                }
                else {
                    return  null;
                }
            },
            set: function (value) {
                if (value) {
                    this.setStart(this.$moment(value, 'YYYY-MM-DD').unix()*1000);
                }
                else {
                    this.setStart(null);
                }
            }
        },

        end: {
            get: function () {
                if (this.storeEnd) {
                    return this.$moment.unix(this.storeEnd/1000).format("YYYY-MM-DD");
                }
                else {
                    return  null;
                }
            },
            set: function (value) {
                if (value) {
                    let date = this.$moment(value, 'YYYY-MM-DD');
                    date.set({hour:23,minute:59,second:59,millisecond:999});
                    this.setEnd(date.unix()*1000);
                }
                else {
                    this.setEnd(null);
                }
            }
        }
    },
    methods: {
        ...mapActions({
            fetchReports: 'reports/fetchItems',
            setStart: 'reports/setStart',
            setEnd: 'reports/setEnd'
        }),

        generateReport: function () {

            let total = 0;
            let successful = 0;
            let interrupted = 0;
            let pingDelayIsOk = 0;
            let pingLossRateIsOk = 0;
            let readyness = 0;
            let speedIsOk = 0;

            this.reports.map(report => {
                total++;
                readyness += report.readyness || 0;

                if (report.isSuccessful) {
                    successful++;
                }

                if (report.isInterrupted) {
                    interrupted++;
                }

                if (report.pingDelayIsOk) {
                    pingDelayIsOk++;
                }

                if (report.pingLossRateIsOk) {
                    pingLossRateIsOk++;
                }

                if (report.speedIsOk) {
                    speedIsOk++;
                }
            });

            this.total = total;
            this.successful = (successful/total*100).toFixed(2) + '%';
            this.interrupted = (interrupted/total*100).toFixed(1) + '%';
            this.pingDelayIsOk = (pingDelayIsOk/total*100).toFixed(2) + '%';
            this.pingLossRateIsOk = (pingLossRateIsOk/total*100).toFixed(2) + '%';
            this.readyness = (readyness/total).toFixed(2) + '%';
            this.speedIsOk = (speedIsOk/total*100).toFixed(2) + '%';


            this.reportIsVisible = true;
        },

        closeReport: function () {
            this.reportIsVisible = false;
        }
    },
    watch: {
        start: function () {
            this.reportIsVisible = false;
        },

        end: function () {
            this.reportIsVisible = false;
        }
    }
}
</script>

<style scoped lang="scss">
table {
    width: 100%;
    text-align: center;

    th {
        text-transform: uppercase;
    }
}
</style>
