<template>
    <tr>
        <td>{{ formattedDate }}</td>
        <td>
            <v-icon
                v-if="!report.isInterrupted"
                small
                color="green"
            >mdi-check</v-icon>
            <v-icon
                v-else
                small
                color="red"
            >mdi-close</v-icon>
        </td>

        <td>
            <v-icon
                v-if="report.isSuccessful"
                small
                color="green"
            >mdi-check</v-icon>
            <v-icon
                v-else
                small
                color="red"
            >mdi-close</v-icon>
        </td>

        <td>
            <v-icon
                v-if="report.pingDelayIsOk"
                small
                color="green"
            >mdi-check</v-icon>
            <v-icon
                v-else
                small
                color="red"
            >mdi-close</v-icon>
        </td>

        <td>
            <v-icon
                v-if="report.pingLossRateIsOk"
                small
                color="green"
            >mdi-check</v-icon>
            <v-icon
                v-else
                small
                color="red"
            >mdi-close</v-icon>
        </td>

        <td>
            <span :class="readynessClass">{{parseFloat(report.readyness).toFixed(2)}}</span>
        </td>

        <td>
            <v-icon
                v-if="report.speedIsOk"
                small
                color="green"
            >mdi-check</v-icon>
            <v-icon
                v-else
                small
                color="red"
            >mdi-close</v-icon>
        </td>
    </tr>
</template>

<script>
export default {
    name: "report_item",
    props: ['report'],
    computed: {
        readynessClass: function () {
            if (this.report.readyness > 80) {
                return 'green--text';
            }
            else {
                return 'red--text';
            }
        },

        formattedDate: function () {
            return this.$moment.unix(this.report.timestamp/1000).format('DD-MM-YYYY HH:mm:ss');
        },
    }
}
</script>

<style scoped>
</style>
