<template>
    <v-row>
        <probe
            v-for="(probe, index) of probes"
            :key="index"
            :probe="probe"
        ></probe>
    </v-row>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';
import probe from "@/components/probes/probe";

export default {
    name: "index",
    components: {probe},
    created: async function () {
        await this.fetchProbes();
    },
    computed: {
        ...mapGetters({
            probes: 'probes/items'
        })
    },
    methods: {
        ...mapActions({
            fetchProbes: 'probes/fetchItems'
        })
    }
}
</script>

<style scoped>

</style>
