<template>
    <v-col cols="6">
        <v-card>
            <v-card-text>
                <div>token: {{probe.token}}</div>
                <div>connected: {{probe.connected}}</div>
                <div>is started: {{probe.isStarted}}</div>
            </v-card-text>
        </v-card>
    </v-col>
</template>

<script>
export default {
    name: "probe",
    props: ['probe'],
    created: function () {
        console.log(this.probe);
    }
}
</script>

<style scoped>

</style>
