<template>
    <form
        class="login-wrapper"
        @submit.prevent="login"
    >
        <input
            type="text"
            name="token"
            id="token"
            placeholder="Enter your access token" v-model="token"
        >
        <span class="caption" v-if="authError">{{authError}}</span>
    </form>
</template>

<script>
import {mapGetters, mapActions} from 'vuex';

export default {
    name: "login",
    data: function () {
        return {
            token: null,
            loading: false
        }
    },
    computed: {
        ...mapGetters({
            authError: 'user/authError',
            authenticated: 'user/authenticated'
        })
    },
    methods: {
        ...mapActions({
            sendLogin: 'user/login'
        }),

        login: async function() {

            this.loading = true;
            await this.sendLogin(this.token);

        }
    },
    watch: {
        authenticated: function (value) {
            if (value) {
                this.loading = false;
                this.$router.push('/reports');
            }
        }
    }
}
</script>

<style scoped lang="scss">
.login-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 30px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: #607d8b;

    input {
        background-color: #ffffff;
        border-radius: 0;
        border: 1px solid #666666;
        padding: 0 0 0 7px;
        outline: none;
        font-family: monospace;
        width: 50vw;
        font-size: 13px;
        text-align: center;
    }
}
</style>
