<template>
    <v-app>
        <v-app-bar
            app
            color="blue-grey accent-4"
            dense
            dark
            v-if="authenticated"
        >
            <v-spacer></v-spacer>
            <v-toolbar-title>Quality Test</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu
                left
                bottom
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        icon
                        v-bind="attrs"
                        v-on="on"
                    >
                        <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item @click="$router.push('/probes')">
                        <v-list-item-title>Probes</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="$router.push('/reports')">
                        <v-list-item-title>Reports</v-list-item-title>
                    </v-list-item>
                    <v-divider></v-divider>
                    <v-list-item @click="openConsole">
                        <v-list-item-title>
                            <span>Console</span>
                            <v-icon
                                small
                                class="ml-1"
                                v-if="!consoleIsClosed"
                            >mdi-check</v-icon>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>

        <v-main>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
            <console
                v-if="authenticated"
            ></console>
        </v-main>
    </v-app>
</template>

<script>
import {mapGetters, mapMutations, mapActions} from 'vuex';
import console from '@/components/console';

export default {
    name: 'App',
    components: {
        console
    },
    mounted: function() {
        this.$moment.locale('ru');
    },
    created: async function () {

        await this.wsConnect();

    },
    data: function () {
        return {};
    },
    computed: {
        ...mapGetters({
            authenticated: 'user/authenticated',
            consoleIsClosed: 'console/isClosed'
        })
    },
    methods: {
        ...mapActions({
            wsConnect: 'ws/connect'
        }),
        ...mapMutations({
            openConsole: 'console/open'
        }),
    }
};
</script>

<style>
</style>
